<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container search-bar">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">Research Buddy</h2>
          <div id="custom-search-input" style="margin: 0; padding: 0;">
            <form
              method="POST"
              class="input-group col-md-12"
              action="/"
              style="margin: 0; padding: 0;"
            >
              <input
                name="Search"
                type="text"
                class="form-control input-lg-12"
                placeholder="Search for Papers"
                required
              />
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <select
                  class="form-control search-slt"
                  id="exampleFormControlSelect1"
                  name="searchBy"
                >
                  <!-- <option>Select Vehicle</option> -->
                  <option>Author</option>
                  <option>Keyword</option>
                  <option>Title</option>
                </select>
              </div>
              <button class="btn btn-primary btn-lg" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container search-table">
      <div class="search-box">
        <div class="row">
          <div class="col-md-3">
            <h5>Our Top Papers</h5>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              id="myInput"
              onkeyup="myFunction()"
              class="form-control"
              placeholder="Search all fields e.g. HTML"
            />
            <script>
              $(document).ready(function() {
                $("#myInput").on("keyup", function() {
                  var value = $(this)
                    .val()
                    .toLowerCase();
                  $("#myTable tr").filter(function() {
                    $(this).toggle(
                      $(this)
                        .text()
                        .toLowerCase()
                        .indexOf(value) > -1
                    );
                  });
                });
              });
            </script>
          </div>
        </div>
      </div>
      <div class="search-list">
        <h3>Popular Searches</h3>
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th scope="col" class="col-md-8">Title</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i<10;i++){ %>
            <tr>
              <td><%= Employee[i].Title %></td>
              <td><%= Employee[i].firstName %> <%= Employee[i].lastName %></td>
              <!-- <td><%= Employee[i].SALARY %></td> -->
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
