<!DOCTYPE html>
<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/Research.css" />
  </head>
  <body>
    <header
      class="container-fluid jumbotron"
      style="text-align: center;padding-bottom: 2%;"
    >
      <h1 style="font-size: 50px;color: brown;margin-top: -20px;">
        <%= detail[0].Title %>
      </h1>
      <h4 style="margin-top: 2%">Paper By</h4>
      <% for(let i=0;i<detail.length;i++){ %>
        <h3 style="font-size: 20px;font-weight: 400;color: blue"><span><%= detail[i].firstName %> <%= detail[i].lastName %><% if(detail.length>1){ %> <% } %></span></h3>
      <% } %>
    </header>
    <div class="container" style="display:flex">
      <article
        class="container"
        style="display:block;width:80%;padding-right:0%"
      >
        <h3>Abstract</h3>
        <div style="line-height: 1.5rem;width: 80%;">
          <p style="font-size: 18px"><%= detail[0].Abstract %></p>
        </div>
      </article>
      <section style="margin-left:4% ; width: 30%; ">
        <h3>URL</h3>
        <span
          ><a href="<%= detail[0].URL %>" style="color:blue"
            ><%=detail[0].Title%></a
          ></span
        >
        <!-- <a href="<%= detail[0].URL %>" style="color:blue"><%=detail[0].URL%></a> -->
      </section>
    </div>
    <article class="container"
      style="display:block ; width:80% ; padding: left 2.5%; margin-top: 2%;">
      <b><h3>Published in the <%= detail[0].Type %><br/></h3></b>
      <h5><%= detail[0].Name %></h5>
    </article>
  </body>
</html>
